.card {
  display: grid;
  grid-template-rows: 1.5fr 9fr 1.5fr;
  width: min-content;
  padding-top: 0.5rem;

  border: 10px solid #D5FF0C;
  background-color: white;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.picture {
  justify-self: center;
  width: 200px;
  height: 300px;
  margin-top: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 10px;
  padding-left: 0.5rem;
  background-color: #D5FF0C;
}